
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

.title, .title-2{
	font-family: 'Zilla Slab';
}


body{
	font-family: 'Open Sans', sans-serif;
}









/*1 rem = 16px (default font size)*/


/*To apply the background image*/
#bg-image{
	
	min-height: 100vh;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center top;
	background-attachment: scroll;

	
}


.title{
	color: white;
	text-align: right;
	font-size: 3.7em;
	margin: 0;
	line-height: 4rem;
	padding-top: 5px;
}

.subtitle{
	color: white;
	font-size: 1.2rem;
	text-decoration-thickness: none;
}

/*nav LOGO AREA*/
#logo {
padding-left: 30px;
/*no changes yet*/
}

  .nav-bar  ul{
	list-style: none;
	
	display: flex;
	padding-top: 10px;
	padding-bottom: 8px;

/* SEPARATING LOGO and nav(s)	*/
	justify-content: space-between;
}

/*Making the logo nad the navs inline with each other*/
.nav-bar li{
	display: inline-block;
}
/*Adjusting spaces*/
.nav{
	padding-right: 30px;
	font-size: 1.1rem;
}

/*Calling the button inside the right-nav then style it*/
.right-nav button{
	color: white;
	border: 0;
/*Changes he thickness of text	*/
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
/* Create space betweeen the button text and the border	*/
padding: 1rem;

}

/*Making the nav-bar sticky*/
.nav-bar {
	background-color: white;
	padding: 10px;
	position: sticky;
	top: 10px;

/* Fixed top position optional from 1-3	*/
	z-index: 2;
}

/*To apply shade effects hehehehe*/
.front-bg{
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 100vh;
}

/*The other button inside the container*/
.container button{
	background-color: #CF0053;
	color: white;
	font-size: 20px;
	border: 0;
	border-radius: 20px;
	height: 45px;
	width: 180px;
}

.pre-footer button{
	color: white;
	border: 0;
/*Changes he thickness of text	*/
	font-weight: bold;
	background-color: #336589;
	border-radius: 25px;
	color: white;
	font-size: 20px;
	border: 0;
	border-radius: 20px;
	height: 45px;
	width: 180px;
}


/*Align text to the right side*/
.container{
	text-align: right;
	padding-right: 60px;
}

.intro{
	text-align: center;
}
.intro-description{
	text-align: center;
	height: 250px;
	width: 55vw;
	position: relative;
	left: 30%;

}

.intro-description{
	text-align: left;
}


.pre-footer{
	text-align: center;
	background-color: #f7fbfb;
	height: 290px;
	width: 90vw;
	position: center;
	left: 30%;
	margin-left: 130px;
	padding-top: 50px;
	

}
footer{
	text-align: center;
}

.title, .title-2{
	font-family: 'Zilla Slab';
}





















